*.sh
node_modules
*.md
*.woff
*.ttf
.vscode
.idea
dist
/public
.husky
.local
/bin
Dockerfile
.eslintrc.js
lint-staged.config.js
postcss.config.js
.prettierrc.js
.commitlintrc.js
tailwind.config.js
config
